<!-- Animacion del incio -->
<div class="animated fadeIn fast">

    <div class="jumbotron">
        <h1 class="display-4 font-italic text-success mb-4">Open ROADS Community es el acelerador para la transformación digital</h1>
        <hr class="my-2">
        <p class="lead">Open ROADS Community es un foro dedicado a acelerar la transformación del negocio digital. Los componentes principales de la Comunidad son proveedores de servicios digitales, unidos por participantes de la industria digital y todas las empresas
            que hacen crecer sus negocios desde un ecosistema basado en Internet. La Comunidad logra su objetivo al servir como un acelerador entre industrias para identificar nuevos modelos de negocios digitales y oportunidades de ingresos, incluida
            la creación, el intercambio y la implementación de mejores prácticas para abordar esas oportunidades. El acrónimo ROADS significa cinco principios que definen los niveles profundos de personalización y entrega rápida de servicios que los consumidores
            digitales esperan hoy en día.</p>
    </div>
    <div class="col text-center">
        <a class="btn btn-warning btn-lg" href="#" role="button">Contáctanos</a>
    </div>

</div>