<footer class="footer bg-dark text-center mt-5">
    <div class="container p-2">
        <p class="">
            &copy; Cristhian A. Apolo {{ anio }}
        </p>
        <hr>
        <div class="align-content-center mb-3">
            <a href="https://github.com/cristhianA94" class="alert alert-warning"><i class="fab fa-github-square"> GitHub</i></a>
            <a href="https://www.facebook.com/cristian.apolocevallos" class="alert alert-warning"><i class="fab fa-github"> Facebook</i></a>
        </div>
    </div>
</footer>