<!-- Animacion del incio -->
<div class="animated fadeIn fast">

    <div class="col text-center">
        <!-- <img width="250" alt="Firebase Logo" src="https://miro.medium.com/max/480/1*JktK87FL_sqDDnuxHxe6Fw.png"> -->
        <img width="250" alt="ODMM logo" src="assets/img/logo.png">
    </div>

    <div class="col mt-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center font-weight-bold text-success">ODMM <br>Modelo abierto de madurez digital
                </h1>
                <hr>

                <p class="lead text-center">El Modelo de madurez digital abierto (ODMM) es una herramienta de evaluación que compara el nivel de madurez digital actual de una organización con sus propios objetivos de transformación digital y el desempeño de las mejores organizaciones
                    de su clase.</p>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <img width="100%" alt="Firebase Logo" src="assets/img/marco.jpg">
    </div>

</div>