/* Para NgxAuthentication */


/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */


/* Iconos */
/* 

 AQUI SOLO DECLARA ESTILOS GLOBALES


*/
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~ngx-toastr/toastr';
/* body {
    padding-top: 5%;
}

footer {
    color: white;
    position: relative;
    bottom: 0%;
    width: 100%;
} */


/* Animaciones */
/* 
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
} */